<h2>INSERISCI I CAMPI </h2>
<form action="http://127.0.0.1:5000/sub" method="POST">
  <p>
    <label for="sub">NOME DEL CONCORRENTE IN GARA</label>
    <input type="nome" name="sub" id="sub" required />
  </p>
  <input type="submit" value="submit" />
</form>
<h2>METTERE LA TUA EMAIL E  IL TUO NUMERO DI GARA</h2>
<form action="#" id="spform">
  <p>
    <label for="sub">Mail</label>
    <input type="email" name="sub" id="subPUT" required />
  </p>
  <p>
    <label for="index">Id</label>
    <input type="number" name="index" id="index" required />
  </p>
  <input id="spsubmit" type="submit" value="submit" />
</form>
<button id="delete">DELETE</button>
<ul class="subs"></ul>

<script>
  update()
  subsElement = document.querySelector(".subs");
  function update(){
    fetch("http://127.0.0.1:5000/sub")
    .then(res=>res.json())
    .then(data=>{
      subsElement.innerHTML = ""
      for(dato of data){
        subEl = document.createElement("li")
        subEl.innerText = dato
        subsElement.appendChild(subEl)
      }
    })
  }
  
  delElement = document.querySelector("#delete");
  delElement.addEventListener("click", (event) => {
    fetch("http://127.0.0.1:5000/sub/0", {
      method: "DELETE"
    })
      .then((res) => res.json())
      .then((data) => {
        console.log(data)
        update()});
  });

  

  formElement = document.querySelector("#spform");
  formElement.addEventListener("submit", (event) => {
    event.preventDefault();

    index = document.querySelector("#index").value;
    sub = document.querySelector("#subPUT").value;

    fetch("http://127.0.0.1:5000/sub", {
      method: "PUT",
      body: JSON.stringify({ index: index, sub: sub }),
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => res.json())
      .then((data) => {
        console.log(data)
        update()
    });
  });


</script>
